{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/{% if page.locale=='zh' %}zh/{% else %}{% endif %}">{{ site.data.ui-text[page.locale].title }}</a></li>
          {% if page.url contains 'zh' %}
            {% assign navs = site.data.navigation.zh %}
            {% else %}
            {% assign navs = site.data.navigation.en %}
          {% endif %}
          {% for link in navs %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            {% if link.url == 'zh' %}
              {% assign new_url = '/zh'| append: page.url %}
              {% elsif link.url == 'en' %}
              {% assign new_url = page.url | remove_first: "/zh" %}
              {% else %}
              {% assign new_url = link.url %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ new_url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>